<div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="email">
            <h4 class="c_card">Please enter your Credit Card Details</h4>
            <div _ngcontent-c5="" class="form-group">
              <input class="form-control_a" placeholder="Name ( as appears on card )" type="text">
            </div>
            <div _ngcontent-c5="" class="form-group">
              <input class="form-control_a" placeholder="Card Number" type="text">
            </div>
            <div class="row">
              <div class="col-md-6">
                <div _ngcontent-c5="" class="form-group">
                  <input class="form-control_a" placeholder="DD / MM" type="text">
                </div>
              </div>
              <div class="col-md-6">
                <div _ngcontent-c5="" class="form-group">
                  <input class="form-control_a" placeholder="CVC" type="text">
                </div>
              </div>
            </div>
            
            <small>You won't be charged for the first 30 days.</small>
            <br>
             <button class="next pull-right"   (click)="next()">Next</button>
          </div>
        </div>
        <div class="col-md-9"></div>
      </div>
    </div>

