@import '../../../assets/css/globals.scss';
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#stocks_list_container {
	.card {
		.card-title {
			margin-bottom: 0px;
		}
		.stock-price {
			font-size: 25px;
			margin-bottom: 0px;
		}
	}
}
 .mat-cell:active, .mat-cell:focus{
	    color: #21f3b2 !important;
        border-bottom-color: #21f3b2 !important;
}