<div class="container largr_pd">
    <div class="row">
        <div class="col-md-12" align="center">
            <h3 class="h_ttl">Time Interval</h3>
            <p>Choose what time interval you like me to focus on building your predictive ai</p>
        </div>
        <br>
        <br>
        <div class="col-md-4">
            <div class="time_int">
                <p class="card-titles">Intraday Data</p>
                <p class="pc_">Minute by minute data is for those looking to build rapidly changing ai models.</p>
                <button  class="green-dot-button btn_action" (click)="intradayView('Minute')" >Select</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="time_int">
                <p class="card-titles">Hourly Data</p>
                <p class="pc_">Hourly data for me to build a predictive ai for those intrested in hourly changes</p>
                <button  class="green-dot-button btn_action" (click)="intradayView('Hour')" >Select</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="time_int">
                <p class="card-titles">Daily Data</p>
                <p class="pc_">Daily data for m to build ai.</p>
                <button  class="green-dot-button btn_action" (click)="intradayView('Day')" >Select</button>
            </div>
        </div>

    </div><!--/row-->
</div><!--/container--> 


<!-- <div id="datasource_container" class="page-container">
    <h1 class="page-title text-align-center">Etherenum Time Interval</h1>
    <div class="card-container row">
        <div class="col-md-4 display-flex">
            <div class="card-black-theme card with-action-btn">
                <p class="card-title">Inte</p>
                <p>A wide range of US stocks to use for your Artificial intelligence Models.</p>
                <button  class="green-dot-button btn_action" (click)="intradayView()" >Select
                     
                </button>
            </div>
        </div>
        <div class="col-md-4 display-flex">
            <div class="card-black-theme card with-action-btn">
                <p class="card-title">Inte</p>
                <p>A wide range of US stocks to use for your Artificial intelligence Models.</p>
                <button  class="green-dot-button btn_action" (click)="hourlyView()" >Select
                     
                </button>
            </div>
        </div>
        <div class="col-md-4 display-flex">
            <div class="card-black-theme card with-action-btn">
                <p class="card-title">Inte</p>
                <p>A wide range of US stocks to use for your Artificial intelligence Models.</p>
                <button  class="green-dot-button btn_action" (click)="dailyView()" >Select
                     
                </button>
            </div>
        </div>
    </div>
</div> -->

