<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="email">
        <h4>
          You are signed up!
        </h4>
        <p>
          Welcome to Remi Studios
        </p><small>This is an Artifitial Intelligence platform that helps you build ai without coding. Making it easy for you to start building your own ai and to use them at work or for research.</small><br />
        <button class="next" (click)="addname()">Next</button>
      </div>
    </div>
  </div>
</div>