<div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="email">
            <h4>What would you like me to call you?</h4>
            <div _ngcontent-c5="" class="user_mail">
              <input class="form-control_a" placeholder="" type="text">
            </div>
            <small>This is a name I can use when I need to notify you of something. Its just between you ansd me. so it doesn't need to be anything formal</small>
            <br>
             <button class="next"  (click)="next()">Next</button>
          </div>
        </div>
        <div class="col-md-9"></div>
      </div>
    </div>
