<div class="container" >
        <div class="row"  >
           <div class="col-md-8">
                <div class=" heading">
                   <h2>Currently Training</h2>
                    <p style="color: white; ">Testing different artificial intelligence models</p>
                    <div class="box">
                      <img src="../assets/img/line_grp.png" style="max-width:100%;">
                    </div>
                </div >
           </div>
           <div class="col-md-4">
                <div class=" result" >
                    <div style="padding: 5px;">
                       <h3  > Result</h3>
                       <div class="row"  align="center" style="color: white;">
                           <div class="col-md-6 line_height" >
                             <p >All models bulit</p>
                            </div>
                           <div class="col-md-6 line_height">
                             <p>52</p>
                           </div>
                           <div class="col-md-6 line_height" >
                              <p>Time taken</p>
                           </div>
                           <div class="col-md-6 line_height">
                             <p>22:00</p>
                          </div>
                           <div class="col-md-6 line_height">
                              <p> Episodes</p>
                           </div>
                           <div class="col-md-6" style="line-height: 70px;">
                             <p>1.280</p>
                            </div>
                            <div  class="padding col-md-12">
                            <button align="center" type="button" (click)="trainingTest()" class="test">Test</button>
                           </div>
                        </div>
                   </div>
                </div>
                 <div align="center" class="padding">
                   <button type="button" class="minimise">Save</button>
               </div>
              <div align="center" class="padding">
                 <button type="button" class="minimise">Cancel</button>
               </div>
           </div>
       </div>
   </div>
